.me{
    
    background-color: aqua;

}body{
    background-image: url('http://localhost:3000/img/ban.jpg') ;
    margin: 0%;
}
.back{
    margin-top: 20%;
    margin-left: 20%;
    text-align: start;
    color: darkkhaki;
    background-color: black;
}
.down {
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: blueviolet;
    background-color: black;
}

.left{
    text-align: left;
}
.right{
    text-align: end;
}